@using MyBlog.Service.Shared.Dtos.VisualDto
@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.LayoutLib.XAxisLib
@using System.Globalization
@using Plotly.Blazor.Traces

<div style="height:320px; min-height:320px; width:600px;">
    <PlotlyChart style="height:100%; width:100%;" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />
</div>
