@page "/blog"

<PageTitle>Blog</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
    <p><em>This page is under construction. <br/>Please check back soon!</em></p>
</div>
