@page "/resume"

@using MyBlog.Service.Shared.Interfaces.Profiles
@using MyBlog.External.PDFGenerator.Interface
@using MyBlog.Service.Shared.Interfaces.Projects

@inject IProfileService _profileService
@inject IPdfTemplateService _pdfService
@inject IProjectService _projectService

<h3>Resume</h3>

@code {

}
